.h1 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin: 0px;
  margin-bottom: 40px;
}
.h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin: 0px;
  margin-bottom: 10px;
}
.body1 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  display: inline;
  margin: 0px;
}
.body2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 40px;
  display: inline;
  margin: 0px;
}
.body3 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  display: inline;
  margin: 0px;
}
.dark {
  color: #ffffff;
}
.light {
  color: #111111;
}
